body { 
	background-color: #cca/*#085*/;
	color: #072/*#ffa*/;
}

table {
	background-color: /*#7a3*/#aa6;
	margin: 20px;
}

table, td, tr, th {
    border: 1px dotted #071;
}

.swieto { 
	color: #f00; 
}

.powsz { 
	color: #473; 
}

.name { 
	color: #041;
	text-align: center; 
	font-weight: bold; 
}

.err{ color:red; }
	
td {
	color: #eee;/*051;*/
/*	padding:5px 11px;*/
	vertical-align: top;
	width:200px;
	text-align:left;
}

label{ display: inline-block; text-align: right; margin: 5px; width: 340px; }	

td.m1,td.m2,td.m3,td.m4,td.m5,td.m6,td.m7,td.m8,td.m9,td.m10,td.m11,td.m12 {
	border:0;
	background-size: 220px 163px;
	height:163px; 
	width: 220px;
	padding:0;
}

h1, h2 { text-align:center; }
h2 { margin: 20px auto; }
hr { margin: 2px; 
	border: 0;
    border-bottom: 1px dotted #692;
   /* background: #cc4;*/
}
.m1 { background-image: url("images/P1260061.jpg"); }
.m2 { background-image: url("images/P1250391_m.jpg"); }
.m3 { background-image: url("images/foto_001.jpg"); }
.m4 { background-image: url("images/P1260523.jpg"); }
.m5 { background-image: url("images/foto_006.jpg"); }
.m6 { background-image: url("images/foto_004.jpg"); }
.m7 { background-image: url("images/foto_005.jpg"); }
.m8 { background-image: url("images/pod_lopianem.png"); }
.m9 { background-image: url("images/P1240116.jpg"); }
.m10 { background-image: url("images/P1060011.jpg"); }
.m11 { background-image: url("images/P1090170.jpg"); }
.m12 { background-image: url("images/P1260872.jpg"); }
